body {
    background-image: url("../gamePageIMG/background.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Other CSS */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    height: 15vh;
    width: 100%;
}

.startMenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 50%;
}

.gameMenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.btns {
    width: 40%;
    height: 80%;
    border: 3px solid #fff;
    background: none;
    color: #fff;

    font-family: 'VT323', monospace;
    font-size: 25px;
    transition: 0.3s ease;
}

.btns:hover {
    color: #FF10F0;
    background-color: rgba(0,0,0, 0.9);
    border: 3px solid #FF10F0;
}

.gamebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 15px;
}