* {
    margin: 0;
    padding: 0;
}

#title{
    font-family: 'Press Start 2P', cursive;
    color: rgb(212,175,55);
    font-size: 70px;
}

#paragraph{
    font-size: 1.5em;
    font-family: 'VT323', monospace;
    color: rgb(212,175,55);
}

/* Navbar CSS */
.navLogo {
    width: 25%;
    height: auto;
}

#navbarTitle {
    font-family: 'Press Start 2P', cursive;
    color: rgb(212,175,55);
    font-size: 20px;
}

#navContainer {
    display: flex;
    justify-content: space-between;
}

#navbarLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}

#navbarSupportedContent {
    width: 20%;
}

.nav-item > a {
    font-size: 20px;
}

/* Home Page CSS */
.home-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url("../homePageIMG/homepage-bg.gif");
    background-repeat:no-repeat;
    background-size: cover;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 50%;
    height: 40%;
}

#homeLink {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-family: 'VT323', monospace;
}

#homeButton {
    font-size: 35px;
    color: #fff;
}

.btn {
    width: 30vh;
    height: 10vh;
}

/* Game CSS */

/* Responsiveness CSS for Ipad Pro */
@media screen and (max-width: 1024px) {
    /* Navbar CSS */
    #navbarLogo {
        width: 30%;
    }

    #navbarSupportedContent {
        width: 32%;
    }

    /* Home Page CSS */
    #title {
        font-size: 75px;
    }

    #homeButton {
        font-size: 40px;
    }
}

/* Responsiveness CSS for Ipad */
@media screen and (max-width: 768px) {
    /* Navbar CSS */
    #navbarLogo {
        width: 40%;
    }

    #navbarSupportedContent {
        width: 100%;
    }

    #navbarSupportedContent > ul {
        display: flex;
        align-items: center;
    }
    
    /* Home Page CSS */
    #title {
        font-size: 60px;
    }

    #homeButton {
        font-size: 35px;
    }
}

/* Mainly responsiveness css for surface duo */
@media screen and (max-width: 600px) {
    /* Navbar CSS */
    #navbarTitle {
        font-size: 14px;
    }

    #navbarLogo {
        width: 38%;
    }

    #navbarSupportedContent {
        width: 100%;
    }

    #navbarSupportedContent > ul > li > a {
        font-size: 17px;
    }
}

/* For any other 450px width and smaller devices */
@media screen and (max-width: 450px) {
    /* Navbar CSS */
    #navbarTitle {
        font-size: 13px;
    }

    #navbarLogo {
        width: 55%;
    }

    #navbarSupportedContent {
        width: 100%;
    }

    #navbarSupportedContent > ul > li > a {
        font-size: 17px;
    }

    /* Home Page CSS */
    #title {
        font-size: 35px;
    }

    #homeButton {
        font-size: 25px;
    }
}

/* Responsiveness CSS for 350px width and smaller devices */
@media screen and (max-width: 350px) {
    /* Navbar CSS */
    #navbarLogo {
        width: 60%;
    }

    #navbarTitle {
        font-size: 12px;
    }

    #navbarSupportedContent > ul > li > a {
        font-size: 15px;
    }

    /* Home Page CSS */
    #title {
        font-size: 25px;
    }

    #homeButton {
        font-size: 20px;
    }
}