* {
    margin: 0;
    padding: 0;
}

#title{
    font-family: 'Press Start 2P', cursive;
    color: wheat;
    font-size: 75px;
}

#paragraph{
    font-size: 1.5em;
    font-family: 'VT323', monospace;
    color: wheat;
}

/* Home Page CSS */
.home-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url("../homePageIMG/homepage-bg.gif");
    background-repeat:no-repeat;
    background-size: cover;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 50%;
    height: 40%;
}

#homeLink {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-family: 'VT323', monospace;
}

#homeButton {
    font-size: 35px;
    color: #fff;
}

.btn {
    width: 30vh;
    height: 10vh;
}

/* Game CSS */

/* Game Info CSS */